<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Thank you for your purchase!</h1>
		<h2>Here's what you purchased:</h2>

		<p><%= description %></p>
		<p><strong>Total paid: <%= total %></strong></p>
		<p>Your transaction Id is: <%= trans_id %></p>
	</body>
</html>
